/*------------------------------------*\
    VARIABLES
    forked from Bootstrap
\*------------------------------------*/


// Colors
//

//main colours
$primary: #292b2c !default;

//background colors
$background-brand-primary: #004b8d !default;
$background-brand-dark: #00305a !default;
$background-dark-blue: #142531 !default;
$background-gray-light: #fbfbfb !default;
$background-gray: #efefef !default;

//borders
$border-gray: #eceeef !default;
$border-gray-light: #e0e0e0 !default;
$border-gray-darker: #cfd1d2 !default;
$border-blue: #002a50 !default;

//other colors
$white: #fff !default;
$black: #000 !default;
$blue-light: #1e72c3 !default;
